/* Reset CSS
 * --------------------------------------- */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a,a:hover{
	text-decoration:none !important;
}

table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}
.clear-fix {
	clear:both
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/avenir/Avenir-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/avenir/Avenir-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/avenir/Avenir-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/avenir/Avenir-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/avenir/Avenir-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}



/* Custom CSS
 * --------------------------------------- */
 body{
	font-family: 'Avenir', sans-serif;
	color: #333;
}
.btn-orange {
	background-color: #FF9100;
	font-weight:500;
	border-radius:50px;
	padding:10px 30px;
	color:#fff !important;
}
.btn-tosca{
	background-color: #00A3B4;
	font-weight:500;
	border-radius:50px;
	padding:10px 30px;
	color:#fff !important;
}
.button-menu {
	position:absolute;
	right:0px;
	float:right;
}
.ico-menu {
	float:right
}
.navbar-toggler {
	padding:0px !important;
}
.navbar-toggler:focus {
	box-shadow:none !important;
}
/* Center the loader */
.container-radar {
	position: absolute;
	width: 500px;
	height: 200px;
	margin: auto;
	left: 0;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
  }
#loader {
	position: absolute;
	left:0;
	top: 0;
	bottom:0;
	right:0;
	z-index: 9999999;
	background:#fff;
}

#myDiv {
display: none;
text-align: center;
}


.path {
animation: draw 2.5s infinite;
}

@keyframes draw {
50% {
	stroke-dashoffset: 0;
}
} 
.filter {
	filter: drop-shadow( 0px 0px 3px rgba(0,163,180,0.5));
}
.st0{fill:none;stroke:#00A3B4;stroke-width:7;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st1{fill:none;stroke:#00A3B4;stroke-width:7;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st2{fill:url(#SVGID_1_);}
.st3{fill:url(#SVGID_2_);}
.st4{fill:url(#white3_1_);}
.st5{fill:url(#SVGID_3_);}
.st6{fill:url(#SVGID_4_);}
.st7{fill:url(#white2_2_);}
.st8{fill:url(#SVGID_5_);}
.st9{fill:url(#SVGID_6_);}

.radar {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	opacity: 0.4;
}
.masking-radar {
	position: relative;
	z-index: 1;
}
.logo {
	margin:auto;
	text-align:center;
}
.logo-preloader {
	width: 100px;
	height: 100px;
	background-image: url(../img/img_logogram_beever.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	margin: auto;
	left: 0;
	right: 24px;
	top: 0px;
	bottom: 0;
}

#id {
	display: none;
  }
  
.button_lang {
filter: grayscale(100%);
opacity:0.3;
-webkit-transition: background-color .3s ease-in-out;
-moz-transition: background-color .3s ease-in-out;
-o-transition: background-color .3s ease-in-out;
-ms-transition: background-color .3s ease-in-out;
transition: background-color .3s ease-in-out;
}
.button_lang:hover, .current_lang {
opacity:1;
filter: grayscale(0%);
-webkit-transition: background-color .3s ease-in-out;
-moz-transition: background-color .3s ease-in-out;
-o-transition: background-color .3s ease-in-out;
-ms-transition: background-color .3s ease-in-out;
transition: background-color .3s ease-in-out;
}
ul li {
	width: auto;
	display: inline;
}
#id_click, #en_click {
	cursor: pointer;
	color:transparent !important;
}
.flag-wrapper {
	float: left;
}
.flag-wrapper li {
	margin-right:8px
}
.navbar-beever {
	width: 100%;
	display: block !important;
}
.navbar-inverse-white  {
	background-color:#fff;
	padding:30px 0px 20px 0px;
}

.navbar-beever ul li {
	font-family: 'Avenir',sans-serif;
	font-weight:500;
	
	color:#3C3C3C;
	font-size: 18px;
}
.navbar-beever ul li a {
	color:#3C3C3C;
	padding:10px 20px 0px 20px;
}

.navbar-beever ul li.active a {
	color: #00A3B4;
	
}
.float-left {
	float:left;
}
.float-right {
	float:right;
}
.logo-beever {
	margin-right:50px;
}
.nav-left {
	margin-top:10px;
}
.landing-page {
    display: flex;
    align-items: center;
    justify-content: center;
	text-align:left;
	height:100%;;
	float:left;
}
.landing-page  h1 {
	font-size:40px;
	font-weight: 300;
	line-height:60px;
}
.h1-italic {
	font-style: italic;
	font-weight: 600;
}
.landing-page p {
	margin:25px auto;
	font-size:20px;
	line-height:33px;
}
.position-relative {
	position: relative;
}
.landing-page a {
	margin-top:20px;
}
.landing-page a img {
	width:140px;

}

.tabs {
	position: relative;
  }
  .tabs:not(.--jsfied) {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
  }
  .tabs .--hidden {
	display: none;
  }
  .tabs a,
  .tabs button {
	width: 100%;
	height: 100%;
	display: block;
	font-size: 1em;
	line-height: 1.2;
	text-align: center;
	color: #FAF3DD;
	background-color: transparent;
  }
  .tabs .-primary {
	display: flex;
  }
  .tabs .-primary > li {
	flex-grow: 1;
	background-color: #D51E49;
  }
  .tabs .-primary > li + li {
	border-left: 1px solid #b61a3e;
  }
  .tabs .-primary > li > a,
  .tabs .-primary > li > button {
	white-space: nowrap;
	padding: 1em 0.6em;
	box-shadow: inset 0 -0.2em 0 #b61a3e;
  }
  .tabs .-primary > li > a:hover,
  .tabs .-primary > li > button:hover {
	background-color: #b61a3e;
  }
  .tabs .-primary > li > a:active,
  .tabs .-primary > li > button:active {
	background-color: #961534;
  }
  .tabs .-primary .-more {
	background-color: #b61a3e;
  }
  .tabs .-primary .-more > button span {
	display: inline-block;
	transition: transform 0.2s;
  }
  .tabs.--show-secondary .-primary .-more > button span {
	transform: rotate(180deg);
  }
  .tabs .-secondary {
	max-width: 100%;
	min-width: 10em;
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	box-shadow: 0 0.3em 0.5em rgba(0, 0, 0, 0.3);
	-webkit-animation: nav-secondary 0.2s;
			animation: nav-secondary 0.2s;
  }
  .tabs .-secondary li {
	border-top: 1px solid #D51E49;
	background-color: #b61a3e;
  }
  .tabs .-secondary a,
  .tabs .-secondary button {
	padding: 0.6em;
  }
  .tabs .-secondary a:hover,
  .tabs .-secondary button:hover {
	background-color: #961534;
  }
  .tabs .-secondary a:active,
  .tabs .-secondary button:active {
	background-color: #D51E49;
  }
  .tabs.--show-secondary .-secondary {
	display: block;
  }
  
  @-webkit-keyframes nav-secondary {
	0% {
	  opacity: 0;
	  transform: translateY(-1em);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
  
  @keyframes nav-secondary {
	0% {
	  opacity: 0;
	  transform: translateY(-1em);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
.bg-bottom {
	background-image:url(../img/img_bg_bottom.png);
	background-position: center bottom;
	background-repeat: no-repeat;
}
#section2, #section3,#section5, #section4 {
	text-align:center;
    margin-top: 105px;
}
#section2 h1, #section3 h1, #section5 h1, #section4 h1, #section7 h1 {
	color:#00A3B4;
	font-weight:600;
	font-size:30px;
}
#section2 p {
	font-size:20px;
	font-weight: 300;
}
#section3 p, #section5 p {
	font-size:17px;
	font-weight: 300;
	margin:10px auto 30px auto;
}
#section2 img, #section6 img{
	width:100%;
}
.wrap-number {
    width: auto;
    height: 220px;
    background-image: url(../img/bg_section2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
	margin: 10px auto 10px auto;

}
.wrapper-counter {
	text-align:center;
	display: flex;
    align-items: center;
    justify-content: center;
	height:100%;
}
.wrapper-counter span {
	color:#00A3B4;
	font-weight:600;
	font-size:35px;

}
.wrapper-counter p {
	font-size:16px !important;
}
.partner-item a img {
	filter: grayscale(100%);
	opacity:50%;
	cursor: pointer;
	margin: auto !important;
    width: 100% !important;
}
.partner-item a:hover img {
	filter: grayscale(0%);
	opacity:100%;
}
.partner-wrap {
	height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: auto;
}
.partner-item {
	width:120px;
}
#news-carousel {
	position: relative;
	padding:50px 0px 0px 0px;
}
.item{
	position: relative;
}
.news-wrap {
	padding:0px 10px;
}
.news-wrap a:hover h1,.news-wrap a:hover h4 {
	color:#00A3B4 !important
}
.news-wrap h1 {
	margin:25px auto 15px auto;
	min-height:40px;
	color:#3C3C3C !important;
	font-size:17px !important;
	font-weight: 300 !important;
}
.news-wrap h4 {
	margin-bottom:25px;
	font-weight: 500;
}
.line-dotted {
    border-top: 5px dotted #ddd;
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 7px;
}
.point {
	margin:auto;
	width:18px;
	height:18px;
	border-radius:18px;
	background-color:#ddd}
.news-img {
	border-radius: 15px;
    overflow: hidden;
    height: 140px;
}
.news-img-modal {
	border-radius: 15px;
    overflow: hidden;
    width: 400px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shadow-left {
	width: 20px;
    background-image: linear-gradient(to right, #fff , rgba(255,255,255,0));
    height: 280px;
    position: absolute;
    display: block;
    z-index: 2;
    box-shadow: none !important;
	left: 10px;
}
.shadow-right{
	width: 20px;
    background-image: linear-gradient(to left, #fff , rgba(255,255,255,0));
    height: 280px;
    position: absolute;
    display: block;
    z-index: 2;
    box-shadow: none !important;
	right: 10px;
	top:0;
}
.bg-landing img {
	width:100%;
}
.downloads-container {
	height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.downloads-wrap h1 {
	color:#2B2B2B;
	font-weight: 600;
    font-size: 30px;
	margin:auto auto 10px auto;
}
.downloads-wrap h2 {
	font-weight:300;
	font-size:25px;
	line-height:40px;
}

.team-wrap{
	width:800px;
	
	display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
}
.team-desc-wrap {
	display: flex;
    align-items: center;
    justify-content: center;
	padding:35px;
	background:#fff;
	border-radius:20px;
	box-shadow: none;
	text-align:left;
	z-index: 1;
	margin-right:30px;
	border:1px solid #efefef;
	height:380px;
}
.team-desc h1 {
	font-size:22px !important;
	color:#ccc !important;
	font-weight:500 !important;
	margin-bottom:15px;
}
.team-desc p {
	font-size:16px;
	color:#ccc;
	font-weight:100 !important;
	line-height:25px;
}
.team-photo {
	margin:auto 30px auto auto;
	z-index: 1;
	background-color:#fff;
}
.team-photo img {
	width: 160px !important;
	filter: grayscale(50);
	opacity: 0.2;
}
.container-team {
	position: relative;
	display: flex;
    align-items: center;
    justify-content: center;
}
.line-dotted-team {
    border-top: 4px dotted #ddd;
    height: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
}
.line-solid-team {
    border-top: 4px solid #ddd;
    height: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;

}

.owl-item.active.center .team-photo img{
	filter: grayscale(0);
	opacity: 1;
}
.owl-item.active.center .team-desc-wrap {
	padding:35px;
	background:#fff;
	border-radius:20px;
	box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.048), 0 0px 30px 0 rgba(0, 0, 0, 0.048);
	text-align:left;
	z-index: 1;
	margin-right:30px;
	border:none;
	height:380px;
}
.owl-item.active.center .team-desc-wrap .team-desc h1, .owl-item.active.center .team-desc-wrap .team-desc p {
	color:#3C3C3C !important
}
.owl-item.active.center .team-desc-wrap .team-desc p  {
	font-weight:100 !important;
}
.no-padding {
	padding:0px !important
}
.contact-container span {
	font-size:20px;
	font-weight:500 !important;

}
.contact-container p {
	margin:5px auto 15px auto;
	font-size:16px;
	color:#767676;
	line-height:30px;
	
}
.form-container {
	padding:45px 40px;
	border-radius:20px;
	box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.048), 0 0px 30px 0 rgba(0, 0, 0, 0.048);
    height: 100%;
	width: 50%;
	float:left;
	z-index: 1;
    position: relative;
    background: #fff;
}
.map-container {

	border-radius:20px;
    height: 100%;
	background:#ddd;
	width: 55%;
	float:right;
	position:absolute;
	right:0;
	overflow: hidden;
}
.contact-container ul li {
	list-style:none;
	text-align:center;
	margin:auto 5px;
}
.contact-container ul li a:hover img{
	filter: opacity(0.5);
}
.form-container h1 {
	color:#2B2B2B !important;
	font-size:21px !important;
	font-weight:500 !important;
	margin-bottom:20px;
}
.field-wrap {
	margin:15px auto 20px auto;
}
.field-wrap input {
	border:1px solid #EAEAEA;
	border-radius:8px;
	padding:10px 10px
}
.field-wrap  textarea {
	border:1px solid #EAEAEA;
	border-radius:8px;
	padding:10px 10px;
	width:100%;
}
.copyright a, .copyright p {
	font-size:15px;
	text-decoration:none;
	color:#767676 ;
	margin:15px auto;
	font-weight:300;
}
.copyright a:hover {
	color:#00A3B4
}
#map-wrap {
    overflow: hidden;
    height: 100%;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: center;
	cursor:grab;
}
.tab-content {
	padding: 0;
  }
  
  .card {
	border-radius: 0 0 0.25rem 0.25rem;
	border-top: 0;
  }
  
  .nav-tabs {
	height: 42px;
	padding: 0;
	position: relative;
  }
  .nav-tabs .nav-item {
	margin-left: 0;
  }
  .nav-tabs .nav-item a {
	color: black;
	display: block;
	padding: 8px 25px;
  }
  .nav-tabs .nav-item.overflow-tab {
	background-color: white;
	display: none;
	position: absolute;
	right: 0;
	width: 150px;
	z-index: 1;
  }
  .nav-tabs .nav-item.overflow-tab a {
	border: 1px solid lightgray;
	border-radius: 0;
	padding: 6px 10px;
  }
  .nav-tabs .nav-item.overflow-tab a:hover, .nav-tabs .nav-item.overflow-tab a:focus, .nav-tabs .nav-item.overflow-tab a:active, .nav-tabs .nav-item.overflow-tab a.active {
	background-color: lightgray;
  }
  .nav-tabs .nav-item.overflow-tab:last-child {
	border-radius: 0 0 0 4px;
  }
  .nav-tabs .nav-item.overflow-tab-action {
	position: absolute;
	right: 0;
	z-index:999 !important;
	background-color:red;
  }
  #business-model-wrap {
	height: 100%;
  }
  .carousel-nav-left {
	  width:30px;
	  height:30px;
	  background-image:url(/assets/img/img_prev_gray.png);
	  background-repeat: no-repeat;
	  background-position: center;
  }
  .carousel-nav-right {
	width:30px;
	height:30px;
	background-image:url(/assets/img/img_next_gray.png);
	background-repeat: no-repeat;
	background-position: center;
}
#business-model-wrap .owl-nav button.owl-prev:hover ,#business-model-wrap .owl-nav button.owl-next:hover  {
	background:transparent;
	border:none;
	cursor: pointer;
}
.carousel-nav-left:hover   {
	width:30px;
	height:30px;
	background-color:transparent;
	border:none;
	cursor: pointer;
	background-image:url(/assets/img/img_prev_tosca.png);
	background-repeat: no-repeat;
	background-position: center;
}
.carousel-nav-right:hover  {
	width:30px;
	height:30px;
	background-color:transparent;
	border:none;
	cursor: pointer;
	background-image:url(/assets/img/img_next_tosca.png);
	background-repeat: no-repeat;
	background-position: center;
}


#business-model-wrap .owl-nav button.owl-prev:focus ,#business-model-wrap .owl-nav button.owl-next:focus  {
	outline: none;
}
.news-wrap-modal {
	height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.display-flex {
	height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.business-desc-wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.business-desc  h1 {
	text-align:left;
	font-weight:600;
	font-size:27px;
	color:#00A3B4;
	margin:30px auto 30px auto;
}	
.business-desc  p {
	text-align:left;
	line-height: 30px;
	margin: auto auto 15px auto;
}
.tab-wrap ul li a {
	border:none !important;
	background-color: transparent !important;
	padding:15px 0px !important;
	font-size:17px;
	font-weight:500;
	color:#505050 !important
}
.tab-wrap ul li a.active {
    border-top-left-radius: 25px !important;
	border-top-right-radius: 25px !important;
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
    background-color: #00A3B4 !important;
	border:none !important;
	position: relative;
	padding:0px;
	color:#FFF !important
}

.tab-wrap ul li a.active::after {
	content: "";
    background-image: url(/assets/img/img_bg_active.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 160px;
    width: 100%;
    height: 36px;
    display: block;
    position: absolute;
    top: 47px;
    right: 0;
    z-index: 0;
} 


.bg-tab {
	background-image: url(/assets/img/img_bg_tab.png);
    background-repeat: no-repeat;
    background-position: center -66px;
    background-size: revert;
    width: 100%;
    height: 70px;
    position: absolute;
    left: 0;
    right: 0;

}
.responsive-tabs.nav-tabs {
	position: relative;
	z-index: 10;
	height: 42px;
	overflow: visible;
	border-bottom: none;
  }

.responsive-tabs.nav-tabs.open i.fa.fa-caret-down {
	display: none;
}
.responsive-tabs.nav-tabs.open > li {
	display: block;
}
.responsive-tabs.nav-tabs.open > li a {
	border-radius: 0;
}
.responsive-tabs.nav-tabs.open > li:first-of-type a {
	border-radius: 2px 2px 0 0;
}
.responsive-tabs.nav-tabs.open > li:last-of-type a {
	border-radius: 0 0 2px 2px;
}
.btn-close {
	position:absolute;
	right:10px;
	top:10px;
}
.modal-content-wrap {
	padding:20px !important;

}
.modal-content-wrap h1 {
	font-weight: 600;
    font-size: 23px;
    margin: 0px auto 10px auto;
    text-align: center;
    color: #00A3B4;
    line-height: 35px;
}
.modal-content-wrap h4{
    font-weight: 500;
    font-size: 16px;
    color: #2B2B2B;
    text-align: center;
    margin: auto auto 30px;
}
.modal-lg {
	max-width: 40% !important;
}
.modal-table tr td {
	vertical-align:top;
	font-weight:500;
	padding:3px 0px;
}
.modal-table {
	margin:20px auto;
}
.news-img-modal img {
	width:100%;
}
.carousel-img-modal {
	margin:auto
	/* border-radius: 15px;
    overflow: hidden;
    width: 400px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center; */

}
.carousel-inner {
	margin:auto;
	border-radius: 15px;
    overflow: hidden;
    width: 400px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-carousel-nav {
	position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 30px;
    top: 0;
    bottom: 0;
}
.modal-carousel-nav a .carousel-nav-left {
	float:left !important
}
.modal-carousel-nav a .carousel-nav-right {
	float:right !important
}
.modal-content-scroll {
	height:450px;;
	overflow-y:scroll;
}

.modal-content-scroll ol {
	padding-inline-start: 40px;
}
.modal-content-scroll ol li {
	font-weight:500;
}
.business-wrap {
	height:500px;
}
.soon {

	height:500px;
	border-radius:20px;
}
.soon p {
	font-size:20px;
}
#partner-carousel-wrap .owl-nav {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 30px;
	z-index:0;
}
.partner-item a {
	display:block;
}
#partner-carousel-wrap .owl-stage-outer {
	z-index:9999;
}
#partner-carousel-wrap  .owl-nav button.owl-prev {
    float: left !important;
    position: absolute;
    left: -50px;
}
#partner-carousel-wrap  .owl-nav button.owl-next {
    float: right !important;
    position: absolute;
    right: -50px;
}
#partner-carousel-wrap .owl-nav button.owl-prev:focus, #partner-carousel-wrap .owl-nav button.owl-next:focus {
    outline: none;
}
#partner-carousel-wrap .owl-nav button.owl-prev:hover, #partner-carousel-wrap .owl-nav button.owl-next:hover {
    background: transparent;
    border: none;
    cursor: pointer;
}
.experience-wrap {
	height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
	background: rgb(209, 209, 209);
}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
	background: #00A3B4 !important;
}
.wrap-count-number {
	margin:30px auto;
}
@media screen and (min-width:1201px) and (max-width:1400px){
	.navbar-beever ul li a {
		padding: 10px 15px 0px 15px
	}
}
@media screen and (min-width:993px) and (max-width:1201px){
	.navbar-beever ul li a {
		padding: 10px 10px 0px 10px
	}
}
@media screen and (max-width:1200px){
	.logo-beever {
		margin-right: 10px;
	}
}
@media screen and (min-width:768px) and (max-width:992px){
	.logo-staysafe img {
		width:100px
	}
	.navbar-beever ul li a {
		padding: 10px 8px 0px 8px
	}
	.navbar-beever ul li{
		font-size: 17px !important;
	}
	.btn-orange {
		padding:10px;
		font-size: 14px;
	}


}

@media screen and (max-width:767px) {

	.navbar-nav {
		width:100%;
		z-index: 9;
		position: relative;
	}
	.button-menu {
		
		position: relative;
		float:none
	}
	.button-menu a {
		margin-top:20px;
	}
	.navbar-beever ul li {
		margin: 8px auto;
	}
	.logo-beever img {
		width:140px;
	}
	.logo-beever {
		margin: auto;
	}
	.navbar-toggler {
		position:absolute !important;
		top:-10px;
		right:10px;
	}
	.navbar-expand-md {
		padding:10px 0px !important;
	}
}


@media screen and (max-width:900px){
	.bg-landing {
		margin-top:100px;
	}
	.landing-page {
		margin:20px auto !important;
		text-align: center;
	}
	.landing-page h1 {
		font-size: 30px;
    	line-height: inherit;
	}
	.landing-page p {
		font-size: 16px;
    	line-height: inherit;
	}
}
@media screen and (max-width:1100px) {
}

@media screen and (min-width:769px)  {
	.tab-wrap ul  {
		display:table !important;
		width:100% !important;
	  }
	  .tab-wrap ul  li {
		display:table-cell !important;
		float:none !important
	}
	.tab-content-wrap {
		padding:60px 20px;
		
	}
	#business-model-wrap .owl-nav {
		position:absolute;
		width:100%;
		top: 0;
		bottom: 0;
		margin: auto;
		height: 30px;
	}
	#business-model-wrap .owl-nav button.owl-prev {
		float:left !important;
		position: absolute;
    	left: -50px;
	}
	#business-model-wrap .owl-nav button.owl-next {
		float:right !important;
		position: absolute;
    	right: -50px;
	}
	
}
@media screen and (max-width:768px) {
}

@media screen and (max-width:425px) {
	
}

/** Small Device Styles **/
@media screen and (max-width:360px) {
	
}
@media screen and (max-width:480px) {
	
}		
@media screen and (min-width:481px) and (max-width:500px) {

}
@media screen and (min-width:501px) and (max-width:800px) {

}

@media screen and (width:1280px) and (max-height:800px) {
	
}
  @media (min-width: 768px) {
	.responsive-tabs.nav-tabs {
	  display: block;
	}
  }
  @media (max-width: 768px) {
	.responsive-tabs.nav-tabs {
	  display: block;
	  flex-wrap: none;
	  height: auto;
	}
	.bg-landing {
		margin:80px auto 0px auto
	}
	.bg-landing img {
		padding: 0px 60px;
	}
	.landing-page {
		width:100%;
		margin: 10px auto ;
	}
	.landing-page h1 {
		font-size: 25px;
	}
	.landing-page p {
		font-size:15px;
		margin: 15px auto;
	}
	.tab-wrap ul li a.active {
		background-color:#fff;
		border:1px solid #eee;
		border-radius:10px;
	}
	.business-wrap {
		height:auto;
	}
	.tab-wrap ul li a.active {
		background-color:#fff !important;
		border:1px solid #ddd !important;
		border-radius:10px !important;
		color:#2B2B2B !important;
		padding:10px 0px !important;
	}
	.responsive-tabs.nav-tabs.open > li a.nav-link.active  {
		background-color:#fff !important;
	}
	.responsive-tabs.nav-tabs.open > li a.nav-link {
		background-color:#eee !important;
	}
	.tab-wrap ul li {
		
	}
	.business-wrap {
		height:auto;
	}
	.tab-wrap ul li a.active::after {
		content: none !important;
	}
	.tab-container-fluid {
		margin:60px auto;
	}
	.tab-container-fluid .bg-tab{
		display:none;
	}
	.business-model img {
		padding:20px 80px !important;
	}
	.business-desc h1 {
		font-size:25px;
	}
	.business-desc p {
		font-size:15px 
	}
	.tab-wrap ul.open {
		position: absolute;
		left: 0;
		right: 0;
	}
	.responsive-tabs.nav-tabs.open > li{
		padding:0px 20px;
	}
	.responsive-tabs.nav-tabs > li.active {
		padding: 0px !important;
	}
	/* .responsive-tabs.nav-tabs.open > li a.nav-link {
		padding: 20px;
	} */
	#section2 h1, #section3 h1, #section5 h1, #section4 h1, #section7 h1 {
		font-size: 24px;
	}
	#section2 p {
		font-size:16px;
		margin:auto;
	}
	.experience img {
		padding: 30px 80px 0px 80px;
	}

	.wrap-number {
		height: 190px;
		margin: auto auto 20px auto;
		height: 190px;
		padding: 0px 36px;

	}
	.wrapper-counter span {
		font-size:27px;
	}
	.wrap-count-number, .landing-section, .partner-section, .business-section, .news-section {
		margin: 30px auto 120px auto !important;
	}

	.team-wrap {
		width: 360px;
		display: block;
		align-items:none;
		justify-content: none;
		padding: 40px 30px 40px 0px;
	}
	.team-photo {
		width: 120px;
		margin: 0px auto 0px auto;
		position: relative;
	}
	.team-photo img {
		width:120px !important;
		margin:auto
	}
	.line-solid-team {
		top: 106px;
	}
	.team-desc-wrap {
		display: block;
		align-items:none;
		justify-content: none;
		height:auto;
		margin: 20px auto;
	}
	.owl-item.active.center .team-desc-wrap {
		height:auto;
		margin: 20px auto;
	}
	.line-dotted-team {
		top: 106px;
	}
	 #section5 p {
		font-size: 15px;
	}
	.map-container {
		position:relative
	}
	.form-container {
		width:100%;
		height:auto;
		margin:30px auto
	}
	.p-small-40 {
		padding:0px 40px
	}
	.map-container {
		height: 300px;
		width: 100%;
	}
  }
  .responsive-tabs.nav-tabs i.fa {
	position: absolute;
	top: 14px;
	right: 22px;
  }
  .responsive-tabs.nav-tabs i.fa.fa-caret-up {
	display: none;
  }
  @media (min-width: 768px) {
	.responsive-tabs.nav-tabs i.fa {
	  display: none;
	}
  }
  .responsive-tabs.nav-tabs > li {
	display: none;
	float: none;
	text-align: center;
  }
  .responsive-tabs.nav-tabs > li:last-of-type > a {
	margin-right: 0;
  }
  .responsive-tabs.nav-tabs > li > a {
	margin-right: 0;
	background: #fff;
	border: 1px solid #DDDDDD;
  }
  @media (min-width: 768px) {
	.responsive-tabs.nav-tabs > li > a {
	  margin-right: 4px;
	}
  }
  .responsive-tabs.nav-tabs > li.active {
	display: block;
  }
  .responsive-tabs.nav-tabs > li.active a {
	border: 1px solid #DDDDDD;
	border-radius: 2px;
  }
  @media (min-width: 768px) {
	.responsive-tabs.nav-tabs > li.active a {
	  border-bottom-color: transparent;
	}
  }
  @media (min-width: 768px) {
	.responsive-tabs.nav-tabs > li {
	  display: block;
	  float: left;
	}
  }
  .responsive-tabs.nav-tabs.open i.fa.fa-caret-up {
	display: block;
  }
  @media (min-width: 768px) {
	.responsive-tabs.nav-tabs.open i.fa.fa-caret-up {
	  display: none;
	}
  }
  .modal-body   {overflow-y: hidden!important}

  body.modal-open {
    overflow: hidden !important;
}